// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

// Transitions
.esoTransition(@property, @duration, @timing) {
  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @timing;
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @timing;
}
.transitionOut(@property: all, @duration: 0.3s) {
  .esoTransition(@property, @duration, ease-out);
}
.transitionIn(@property: all, @duration: 0.15s) {
  .esoTransition(@property, @duration, ease-in);
}

.transitionComplete(@property: all, @duration: 0.3s) {
  .esoTransition(@property, @duration, ease-out);
  &:hover, &:focus, &:active {
    .esoTransition(@property, (@duration / 2), ease-in);
  }
}