
// Declare variables
@eso-background-color: transparent;

// Imports
@import "_icons.less";

// Layout
body {
  background-color: @eso-background-color;
  min-width: 320px; // Sets a minimum width for small devices
}

// Average view
.review-image {
  min-width: 300px;
  min-height: 300px;
  //background-color: darkgreen;
  .icon {
    font-size: 48px;
  }
}


// MediaQueries